#include"MyWindow.h"
#include<winres.h>

MYMENU MENU
BEGIN
	MENUITEM "&White", IDM_WHITE
	MENUITEM "&LightGray", IDM_LTGRAY
	MENUITEM "&Gray", IDM_GRAY
	MENUITEM "&Dark Grey", IDM_DKGRAY
	MENUITEM "&Black", IDM_BLACK
	MENUITEM "&about", IDM_APP_ABOUT
END


ABOUT DIALOG DISCARDABLE 32,32,180,100
STYLE DS_MODALFRAME | WS_POPUP
FONT 8, "MS SANS SERIF"

BEGIN
	DEFPUSHBUTTON "OK", IDOK, 66,80,50,14
	CTEXT "About", ID_STATIC, 40, 12, 100, 8
	CTEXT "My About Dialog Box", ID_STATIC, 7, 40, 166, 8
END
